body
{
    background-color:#FFFFFF;
    font-family: "Roboto","Raleway",sans-serif;
    color: #434455;
    
}

/* Header styles */
.header {}

.header-nav 
{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.logo 
{
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.logo-span-dark
{
color: #2E2F42;
}

.header-list {}

.header-item {}

.header-item-id{}

.header-item-id:hover, 
.header-item-id:focus
{
   color: #404BBF
}

.header-adress {}

.header-contacts {}

.header-contacts-list {}
    

.header-contacts-link
 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

.header-contacts-link:hover,
.header-contacts-link:focus
{
    color: #404BBF;
}

/* Hero styles */

.section {}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus
{
    background-color: #404BBF;
}

/* Features styles */

.section {}

.features {}

.features-title {}

.features-list {}

.features-item {}

.features-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}

.features-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
}

/* Product styles */

.section {}

.product {}

.product-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
}

.product-list {}

.product-item {}

.product-img {}

/* Team styles */

.section {}

.team {}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
    }

.team-list {}

.team-faces {}

.team-photo {}

.team-names {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
}

.team-faces-position {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;}

/* Footer styles*/
.footer 
{
    background-color: #2E2F42;;
}

.logo {}

.logo-span-light 
{
    color: #F4F4FD;
}

.footer-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

/* Portfolio styles */

.main {}

.section {}

.pf {}

.pf-list {}

.pf-item {}

.pf-btn {
    background-color: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
}
.pf-btn:hover,
.pf-btn:focus
{
    background-color: #404BBF;
    color: #FFFFFF;
}
.pf-links {}

.pf-info {}

.pf-info-links {}

.pf-img {}

.pf-subtitle {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        columns: #2E2F42;
}

.pf-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
}